apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: clickstream-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/laxman-patel/big_assignment_vibe.git'
    targetRevision: HEAD
    path: k8s/manifests
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
